<?xml version="1.0" encoding="utf-8"?>
<!--
  https://aka.ms/clickonce-publishing
  発行: dotnet publish src\Watashi.Client\Watashi.Client.csproj -p:PublishProfile=ClickOnceProfile
  証明書: 社内 CA 発行の Code Signing 証明書を ManifestCertificateThumbprint で指定すること。
-->
<Project>
  <PropertyGroup>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <TargetFramework>net8.0-windows</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishDir>bin\publish\</PublishDir>
    <PublishUrl>\\fileserver\share\Watashi\</PublishUrl>
    <InstallUrl>https://watashi.internal/install/</InstallUrl>
    <UpdateUrl>https://watashi.internal/install/</UpdateUrl>
    <UpdateRequired>false</UpdateRequired>
    <UpdateEnabled>true</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <CreateDesktopShortcut>true</CreateDesktopShortcut>
    <PublishReadyToRun>false</PublishReadyToRun>
    <SelfContained>true</SelfContained>
    <ApplicationVersion>1.$([System.DateTime]::UtcNow.ToString('yy')).$([System.DateTime]::UtcNow.ToString('MMdd')).$([System.DateTime]::UtcNow.ToString('HHmm'))</ApplicationVersion>
    <ApplicationRevision>0</ApplicationRevision>
    <MinimumRequiredVersion>1.0.0.0</MinimumRequiredVersion>
    <Install>true</Install>
    <SignManifests>true</SignManifests>
    <!-- 社内 CA で発行した署名証明書のサムプリントを設定 -->
    <ManifestCertificateThumbprint></ManifestCertificateThumbprint>
    <ManifestKeyFile></ManifestKeyFile>
    <GenerateManifests>true</GenerateManifests>
    <ProductName>Watashi</ProductName>
    <PublisherName>Watashi</PublisherName>
    <SuiteName>Watashi</SuiteName>
    <!-- ClickOnce のインストーラ画面・配信マニフェスト・Add/Remove Programs のアイコン。
         実体は src/Watashi.Client/Watashi.ico。 -->
    <ApplicationIcon>Watashi.ico</ApplicationIcon>
  </PropertyGroup>
</Project>
